/* 
    Document   : style.css
    Created on : 29 oct. 2011, 13:09:52
    Author     : Jean-Michel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

